@use 'fonts';

.nav { 
    width: 80%; 
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;


    &__links {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        width: 162px;
    }

    &__logo {
        width: 91px;
    }
}